# requirements as of 09/09/2023
appdirs==1.4.4
beautifulsoup4==4.12.2
boto3==1.28.42
Cartopy==0.21.1
cdsspy==1.2.691
colorcet==3.0.1
coveralls
dash-ag-grid
dash-bootstrap-components==1.4.2
dash-table==5.0.0
dash==2.13.0
dask==2023.9.0
datashader==0.15.2
freezegun
future==0.18.3
geojson==3.0.1
geopandas==0.13.2
h5netcdf
h5py
holoviews
isodate==0.6.1
numpy==1.23.5
numpydoc
pandas==2.0.3
pillow==10.0.0
plotly==5.16.1
pyarrow==12.0.1
pytest-cov
pytest-runner
pytest==7.4.0
python-dotenv==1.0.0
requests==2.31.0
rioxarray==0.14.1
shapely==2.0.1
sphinx
ulmo==0.8.8
waitress==2.1.2
zeep